# Budget Pipeline example for Dubai Serverless User Group/Meetup.
# Created by Rob Sutter <rob.sutter@protonmail.com> on 19 June 2018.
# Based on Serverless Components repo at https://github.com/serverless/components

type: budget-pipeline

inputTypes: # type descriptions for inputs that budget-pipeline expects to receive
  name:
    type: string
    required: true
    default: my-budget-pipeline

components:
  processData:
    type: aws-lambda
    inputs:
      memory: 512
      timeout: 10
      handler: data.process
      root: ${self.path}/code
  processorApi:
    type: rest-api
    inputs:
      gateway: aws-apigateway
      routes:
        /data: # routes begin with a slash
          post: # HTTP method names are used to attach handlers
            function: ${processData}
            cors: true
  analyticsDb:
    type: aws-dynamodb
    inputs: 
      region: us-east-1
      tables:
        - name: analytics-${self.serviceId}
          hashKey: id
          indexes:
            - name: DataIdIndex
              type: global
              hashKey: id
          schema:
            id: number
            datapoint: string
          options:
            timestamps: true
